.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0%;
  margin-bottom: 0%;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: white;
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  margin: 0%;
  padding-left: 0%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* common */

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address,
.menu {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 0;
  display: block;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.logo span {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .address,
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .burger-btn {
    display: none;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .link {
    color: #2e2f42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link.current {
    position: relative;
  }

  .link.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    color: currentColor;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover,
  .link:focus,
  .contact-link:hover,
  .contact-link:focus,
  .link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-details {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contact-link {
    line-height: 1.5;
    padding: 24px 0;
    letter-spacing: 0.02em;
    font-size: 16px;
  }
}

/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
