.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0%;
  margin-bottom: 0%;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: white;
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  margin: 0%;
  padding-left: 0%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* common */

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address,
.menu {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 0;
  display: block;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.logo span {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .address,
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .burger-btn {
    display: none;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .link {
    color: #2e2f42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link.current {
    position: relative;
  }

  .link.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    color: currentColor;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover,
  .link:focus,
  .contact-link:hover,
  .contact-link:focus,
  .link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-details {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contact-link {
    line-height: 1.5;
    padding: 24px 0;
    letter-spacing: 0.02em;
    font-size: 16px;
  }
}

/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-link {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}

.accent {
  color: #404bbf;
}

.container.mobile-menu-container {
  align-items: flex-start;
}

.contact-link-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link-mobile-accent {
  color: #404bbf;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.address-details-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-address {
  margin-bottom: 48px;
}

.list-social-networks {
  display: flex;
  gap: 40px;
}

.link-social-icons {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-social {
  fill: #ffffff;
}

.list-item-social-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* hero */

.service {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.main-title {
  color: white;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.11111;
}

.order-service {
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
}

@media screen and (min-width: 768px) {
  .service {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .order-service {
    margin-top: 36px;
  }

  .order-service:hover,
  .order-service:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .service {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .order-service {
    margin-top: 48px;
  }
}

/* section benefits */

.section-benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.icon-frame {
  display: none;
}

.list-benefits {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.third-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.text {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .list-benefits {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .list-punkt {
    flex-basis: calc((100% - 24px) / 2);
  }

  .third-title {
    font-size: 36px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1158px) {
  .section-benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .icon-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .list-benefits {
    gap: 24px;
  }

  .list-punkt {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text {
    font-weight: 400;
  }
}

/* section our team */

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
  max-width: 100%;
}

.container-our-team {
  padding-left: 28px;
  padding-right: 28px;
}

.second-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-our-team {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.set-cards {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.set-card-content {
  padding-bottom: 32px;
  padding-top: 32px;
}

.emloyers-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.emloyers-position {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.list-social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.list-item-social-icons {
  width: 40px;
  height: 40px;
}

.link-social-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .list-our-team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  .set-cards {
    flex-basis: calc((100% - 24px) / 2);
  }

  .link-social-icons:hover,
  .link-social-icons:focus {
    background-color: #404bbf;
  }

  .container-our-team {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .set-cards {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .container-our-team {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* section our portfolio */

.our-portfolio {
  padding-bottom: 96px;
  padding-top: 96px;
}

.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hidden-text {
  display: none;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.container-hidden {
  position: relative;
  overflow: hidden;
}

.container-hidden:hover .hidden-text {
  transform: translateY(0%);
}

.picture-naming {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .our-portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-portfolio {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .our-portfolio-list {
    row-gap: 48px;
  }

  .our-portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0%);
    box-shadow: none;
  }

  .our-portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .hidden-text {
    display: block;
  }
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding-bottom: 96px;
  padding-top: 96px;
}

.logo-footer-link {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  padding-left: 102px;
  padding-right: 102px;
  text-align: center;
}

.span-footer {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  padding-left: 16px;
}

.end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.text-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-list-social {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-subscribe {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-field-subscribe {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.text-field-subscribe::placeholder {
  color: #ffffff;
}

.submit-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.icon-send {
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .end-container {
    display: flex;
    padding-right: 108px;
    padding-left: 108px;
    align-items: baseline;
    justify-content: flex-start;
    text-align: left;
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-logo-text {
    margin-bottom: 70px;
  }

  .logo-footer-link {
    margin-bottom: 16px;
    display: block;
    padding: 0;
    text-align: left;
  }

  .footer-text {
    max-width: 288px;
    padding-left: 0px;
  }

  .footer-social-links {
    margin-bottom: 72px;
  }

  .text-social-media {
    text-align: left;
  }

  .footer-subscribe {
    text-align: left;
  }

  .social-footer-list {
    display: flex;
    gap: 16px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }

  .text-field-subscribe {
    width: 264px;
  }

  .submit-button {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .end-container {
    align-items: baseline;
    flex-wrap: nowrap;
    padding: 0;
    gap: 0;
  }

  .footer {
    padding: 100px 159px 132px 156px;
  }

  .footer-text {
    max-width: 264px;
    height: auto;
    margin-bottom: 0;
  }

  .footer-social-links {
    margin-bottom: 0;
  }

  .footer-logo-text {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer .link-social-icons:hover,
  .footer .link-social-icons:focus {
    background-color: #31d0aa;
  }

  .footer-form {
    margin-left: 80px;
  }

  .text-field-subscribe {
    width: 264px;
    height: 40px;
  }
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  opacity: 0;
}

.modal-overlay.is-open {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fcfcfc;
  width: 288px;
  min-height: 623px;
  height: auto;
  overflow: auto;
  position: absolute;
  padding: 72px 16px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.close-popup {
  position: absolute;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-wrapper {
  margin-bottom: 8px;
}

.label-field {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.field-wrapper {
  position: relative;
}

.text-field {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.icon-contact-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
}

.form-field-wraper-comment {
  margin-bottom: 16px;
}

.comment-textarea {
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 120px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
}

.comment-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-field-wrapper-privacy {
  margin-bottom: 24px;
}
.user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04;
  color: #8e8f99;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.policy-checkbox:checked + .policy-label > .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.accent-policy-link {
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.policy-label {
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.button-send-form {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  padding: 0;
}

.acceptation-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .close-popup:hover,
  .close-popup:focus {
    background-color: #404bbf;
    border: none;
  }

  .close-popup:hover .icon-close,
  .close-popup:focus .icon-close {
    fill: #ffffff;
  }

  .text-field:focus {
    border-color: #4d5ae5;
    outline: none;
  }

  .text-field:focus + .icon-contact-form {
    fill: #4d5ae5;
  }

  .comment-textarea:focus {
    border-color: #4d5ae5;
  }

  .policy-checkbox:checked + .policy-label > .custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
  }

  .button-send-form:hover,
  .button-send-form:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    padding: 72px 24px 24px;
  }
}
