*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0%;
  margin-bottom: 0%;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: white;
  font-size: 16px;
}
ul,
ol {
  list-style-type: none;
  margin: 0%;
  padding-left: 0%;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link:not(:last-child) {
  margin-right: 40px;
}
.link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-details {
  display: flex;
  gap: 40px;
}
.contact-link:not(:last-child) {
  margin-right: 40px;
}
.contact-link {
  color: currentColor;
  text-decoration: none;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.service {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.main-title {
  color: white;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.order-service {
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.icon-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.list-benefits {
  display: flex;
  gap: 24px;
}
.list-punkt {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.third-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-our-team {
  display: flex;
  gap: 24px;
}
.set-cards {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.set-card-content {
  padding-bottom: 32px;
  padding-top: 32px;
}
.emloyers-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.emloyers-position {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.list-social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.list-item-social-icons {
  width: 40px;
  height: 40px;
}
.link-social-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social-icons:hover,
.link-social-icons:focus {
  background-color: #404bbf;
}
.icon-social {
  fill: #f4f4fd;
}
.our-portfolio {
  padding-bottom: 120px;
  padding-top: 120px;
}
.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}
.our-portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container-hidden {
  position: relative;
  overflow: hidden;
}
.hidden-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-hidden:hover .hidden-text {
  transform: translateY(0%);
}
.picture-naming {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.description {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}
.logo-footer-link {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.span-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo-text {
  margin-right: 120px;
}
.text-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list-social {
  display: flex;
  gap: 16px;
}
.footer .link-social-icons:hover,
.footer .link-social-icons:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-form {
  margin-left: 80px;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.text-field-subscribe {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.text-field-subscribe::placeholder {
  color: #ffffff;
}
.submit-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.icon-send {
  margin-left: 16px;
  fill: #ffffff;
}
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: auto;
  opacity: 1;
}
.modal {
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  height: 80%;
  overflow: auto;
  position: absolute;
  padding: 72px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}
.close-popup {
  position: absolute;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup:hover,
.close-popup:focus {
  background-color: #404bbf;
  border: none;
}
.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup:hover .icon-close,
.close-popup:focus .icon-close {
  fill: #ffffff;
}
.form-field-wrapper {
  margin-bottom: 8px;
}
.label-field {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.field-wrapper {
  position: relative;
}
.text-field {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}
.text-field:focus {
  border-color: #4d5ae5;
  outline: none;
}
.icon-contact-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
}
.text-field:focus + .icon-contact-form {
  fill: #4d5ae5;
}
.form-field-wraper-comment {
  margin-bottom: 16px;
}
.comment-textarea {
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 120px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
}
.comment-textarea:focus {
  border-color: #4d5ae5;
}
.comment-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-field-wrapper-privacy {
  margin-bottom: 24px;
}
.user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04;
  color: #8e8f99;
}
.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.policy-checkbox:checked + .policy-label > .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.accent-policy-link {
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.policy-label {
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.button-send-form {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  padding: 0;
}
.button-send-form:hover,
.button-send-form:focus {
  background-color: #404bbf;
}
.acceptation-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
